    <!-- Header -->
    {{>admin/header}}


    <div class="wrapper">

        <!-- Sidebar -->
        {{>admin/sidebar}}


        <div class="main-panel">

            <!-- Navbar -->
            {{>admin/navbar}}


            <div class="content">
                <div class="container-fluid">

                    {{{body}}}
                    

                </div>
            </div>

        <!-- Footer -->
        {{>admin/footer}}