    <!-- Header -->
    {{>public/header}}

    <!-- Navigation -->
    {{>public/navbar}}
    

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        
        <!-- Blog Entries Column -->
        {{{body}}}

        <!-- Sidebar Widgets Column -->
        {{>public/sidebar}}

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {{>public/footer}}
