<div class="sidebar" data-color="purple" data-image="/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Creative Tim
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                        <a href="/admin">
                            <i class="material-icons">dashboard</i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/users">
                            <i class="material-icons">person</i>
                            <p>Users</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/categories">
                            <i class="material-icons">content_paste</i>
                            <p>Categories</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/roles">
                            <i class="material-icons">library_books</i>
                            <p>Roles</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/posts">
                            <i class="material-icons">bubble_chart</i>
                            <p>Posts</p>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/comments">
                            <i class="material-icons">location_on</i>
                            <p>Comments</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="/admin/logout">
                            <i class="material-icons">unarchive</i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>